html, body {
	margin: 0;
	background-color: #f5f5f5;
	color: #313131;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link { color: #313131; }
a:visited { color: #313131; }
a:hover,
a:active { color: #908c8c; }

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.1em; }
.article {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}

.blog_title {
	margin-right: auto;
	margin-left: auto;
	width: 600px;
	text-align: center;
	margin-bottom: 50px;
}

.blog_title, .blog_title a {
	color: black;
	text-decoration: none;
	font-size: 32px;
}

.header {
	margin-top: 50px;
}

.header .date {
	width: 200px;
}

.header .title, .header a {
	text-align: left;
	margin-left: 0px;
}




.topbar li {
	margin-right: 50px;
	display: inline;
	float: left;
}

.topbar {
	height: 70px;
	margin-right: auto;
	margin-left: auto;
	width: 900px;
}

.topbar a {
	text-decoration: none;
}

a {
	text-decoration: none;
}


.footer {
	margin-top: 50px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
}

.footer a {
	color: #a5a5a5;
	text-decoration: none;
}

